<%- include("partials/header.ejs") %>

    
    <div class="about-container">
        <div>
            <h1>Hi 👋, I'm Nitin Moturu</h1>
        </div>
        <div>
            <p> I'm a software engineer and data scientist with experience in various technologies and tools. I'm passionate about solving complex problems and building innovative solutions.</p>
        </div>
    </div>
    



<%- include("partials/footer.ejs") %>